<div class="footer-div bg-[#030406] text-[#fff]">
  <div class="footer-inside-div xl:w-[90%] m-auto p-5 xl:p-0 xl:pt-10 xl:pb-6">
    <div>
      <p class="mb-6">
        <a routerLink="/" class="cursor-pointer font-['InterBold'] text-2xl"
          >Exclusive</a
        >
      </p>
      <p class="font-['PoppinsMedium'] text-xl mb-6">Subscribe</p>
      <p class="text-base mb-4">Get 10% off your first order</p>
      <div
        class="w-4/5 flex items-center bg-transparent border-[#FAFAFA] border-2 rounded px-4 gap-2"
      >
        <input
          type="email"
          placeholder="Enter your email"
          class="w-4/5 bg-transparent h-12 focus-visible:border-0 focus-visible:outline-none placeholder-[#bfbfbf]"
        />
        <div class="w-1/5 flex justify-end items-center">
          <img src="assets/images/email-send.svg" alt="" />
        </div>
      </div>
    </div>
    <div>
      <p class="font-['PoppinsMedium'] text-xl mb-6">Support</p>
      <p class="mt-4">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
      <p class="mt-4">
        <a href="mailto:exclusive@gmail.com">{{ "exclusive@gmail.com" }}</a>
      </p>
      <p class="mt-4"><a href="tel:+88015-88888-9999">+88015-88888-9999</a></p>
    </div>
    <div>
      <p class="font-['PoppinsMedium'] text-xl mb-6">Account</p>
      <p class="mt-4"><a href="">My Account</a></p>
      <p class="mt-4">
        <a href="">Login / Register</a>
      </p>
      <p class="mt-4"><a href="">Cart</a></p>
      <p class="mt-4"><a href="">Wishlist</a></p>
      <p class="mt-4"><a href="">Shop</a></p>
    </div>
    <div>
      <p class="font-['PoppinsMedium'] text-xl mb-6">Quick Link</p>
      <p class="mt-4"><a href="">Privacy Policy</a></p>
      <p class="mt-4">
        <a href="">Terms Of Use</a>
      </p>
      <p class="mt-4"><a href="">FAQ</a></p>
      <p class="mt-4"><a href="">Contact</a></p>
    </div>
    <div>
      <p class="font-['PoppinsMedium'] text-xl mb-6">Download App</p>
      <p class="mb-3 text-[12px] text-[#bfbfbf]">
        Save $3 with App New User Only
      </p>
      <div class="flex gap-6">
        <div class="w-2/5">
          <img
            src="assets/images/apps-qrcode.svg"
            alt="Apps QR Code"
            class="w-full h-full"
          />
        </div>
        <div class="w-3/5 flex flex-col justify-between">
          <img
            src="assets/images/download-playstore.svg"
            alt="Play Store Icon"
          />
          <img src="assets/images/download-appstore.svg" alt="App Store Icon" />
        </div>
      </div>
      <div class="flex gap-6 mt-7">
        <img src="assets/images/footer-facebook.svg" alt="Facebook" /><img
          src="assets/images/footer-x.svg"
          alt="Twitter"
        /><img src="assets/images/footer-instagram.svg" alt="Instagram" /><img
          src="assets/images/footer-linkedin.svg"
          alt="LinkedIn"
        />
      </div>
    </div>
  </div>
</div>
