<div class="header-div">
  <div class="flex justify-between xl:w-[90%] m-auto p-5 xl:pt-10 xl:pb-6">
    <div class="flex items-center">
      <a routerLink="/" class="cursor-pointer font-['InterBold'] text-2xl"
        >Exclusive</a
      >
    </div>
    <div class="flex items-center">
      <ul class="flex items-center gap-8">
        <li><a href="">Home</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Sign Up</a></li>
      </ul>
    </div>
    <div class="flex items-center gap-6">
      <div class="flex items-center bg-[#F5F5F5] rounded px-4 gap-2">
        <input
          type="text"
          placeholder="What are you looking for?"
          class="bg-[#F5F5F5] h-12 focus-visible:border-0 focus-visible:outline-none placeholder-[#bfbfbf]"
        />
        <img src="assets/images/search-icon.svg" alt="Search" />
      </div>
      <a href="">
        <img src="assets/images/wishlist-icon.svg" alt="Wish List" />
      </a>
      <a href="">
        <img src="assets/images/cart-icon.svg" alt="Cart" />
      </a>
      <a href="">
        <img src="assets/images/user-icon.svg" alt="Profile" />
      </a>
    </div>
  </div>
</div>
