<div class="lg:flex xl:w-[90%] m-auto p-5 xl:p-0">
  <div class="lg:w-1/5 lg:pt-5 lg:pr-5 flex gap-2.5 lg:flex-col">
    <div
      class="main-category-div flex justify-between hover:text-[#db4444] items-center relative cursor-pointer mb-4"
    >
      <p class="text-xs lg:text-base">Woman's Fashion</p>
      <img src="assets/images/arrow.svg" alt="Arrow Image" class="pl-2.5" />
      <div
        class="women-fashion-div hidden absolute shadow p-5 top-0 left-[105%] max-w-xs min-w-[150px] bg-white z-[2] rounded-xl"
      >
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
      </div>
    </div>
    <div
      class="main-category-div flex justify-between items-center relative cursor-pointer mb-4"
    >
      <p class="text-xs lg:text-base">Men's Fashion</p>
      <img src="assets/images/arrow.svg" alt="Arrow Image" class="pl-2.5" />
      <div
        class="women-fashion-div hidden absolute shadow p-5 top-0 left-[105%] max-w-xs min-w-[150px] bg-white z-[2] rounded-xl"
      >
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
        <p class="cursor-pointer">Women Tops</p>
      </div>
    </div>
    <div
      class="main-category-div flex justify-between items-center cursor-pointer mb-4"
    >
      <p class="text-xs lg:text-base">Electronics</p>
    </div>
    <div
      class="main-category-div flex justify-between items-center cursor-pointer mb-4"
    >
      <p class="text-xs lg:text-base">Home & Lifestyle</p>
    </div>
    <div
      class="main-category-div flex justify-between items-center cursor-pointer mb-4"
    >
      <p class="text-xs lg:text-base">Medicine</p>
    </div>
    <div
      class="main-category-div flex justify-between items-center cursor-pointer mb-4"
    >
      <p class="text-xs lg:text-base">Sports & Outdoor</p>
    </div>
    <div
      class="main-category-div flex justify-between items-center cursor-pointer mb-4"
    >
      <p class="text-xs lg:text-base">Baby’s & Toys</p>
    </div>
    <div
      class="main-category-div flex justify-between items-center cursor-pointer mb-4"
    >
      <p class="text-xs lg:text-base">Groceries & Pets</p>
    </div>
    <div
      class="main-category-div flex justify-between items-center cursor-pointer mb-4"
    >
      <p class="text-xs lg:text-base">Health & Beauty</p>
    </div>
  </div>
  <div id="home-owl" class="lg:w-4/5 lg:pt-5 lg:pl-5">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img
          src="assets/images/apple-shop.svg"
          alt="Apple Shop"
          class="cursor-pointer"
      /></ng-template>
      <ng-template carouselSlide
        ><img
          src="assets/images/apple-shop.svg"
          alt="Apple Shop"
          class="cursor-pointer"
      /></ng-template>
      <ng-template carouselSlide
        ><img
          src="assets/images/apple-shop.svg"
          alt="Apple Shop"
          class="cursor-pointer"
      /></ng-template>
    </owl-carousel-o>
  </div>
</div>
