/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@font-face {
  font-family: "PoppinsRegular";
  src: url("../public/assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "InterBold";
  src: url("../public/assets/fonts/Inter/Inter-Bold.ttf");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../public/assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "PoppinsSemibold";
  src: url("../public/assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
body {
  font-family: "PoppinsRegular";
  color: #000;
}
